/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
*{
    font-family: 'Courier New', Courier, monospace;
}
.wrapper {
    display: flex;
    min-height: 100vh;
}

/* Menu em coluna à esquerda */
.menu {
    background-color: #333;
    color: white;
    width: 200px;
    min-height: 100vh; /* Altura mínima para cobrir a tela */
    padding: 20px;
}

.menu ul {
    list-style-type: none;
    padding: 0;
}

.menu ul li {
    margin-bottom: 20px;
}

.menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.menu ul li a:hover {
    color: rgb(21, 162, 21);
}

/* Estilos para a área principal (conteúdo) */
.main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

/* Header */
.header {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
}

/* Conteúdo */
.content {
    flex-grow: 1;
    padding: 20px;
}

/* Rodapé */
.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

table{
    border: solid lightgray;
    width: 500;
}

table thead th {
    text-align: center;
    background-color: black;
    color: white;
}

table tbody tr{
    text-align: center; 
}

table tbody tr:nth-child(even) td {
    background-color: lightgray;
}


/* Responsividade */
@media (max-width: 768px) {
    .menu {
        width: 100%;
        min-height: auto;
        padding: 10px;
    }

    .main {
        flex-direction: column;
    }

    .header, .content, .footer {
        padding: 10px;
    }

    .menu ul li {
        margin-bottom: 10px;
    }
}